body{
	background: url(images/login_bg.jpg);
	font-family: 'josefin Sans', Sans-serif;
}

.radio-inline{
	width :50% ;
	cursor: pointer;
}

label{
	color: #000;

}

form input{
	width: 20%;
}

#text{
	height: 40px;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 14px;
	border: none;
	width: 50%;
	color: #000;
}

#message{
	outline: none;
	border: none;
	padding: 10px 0px 0px 15px;
	font-size: 16px;
	color:#000;
	border-radius: 5px;
	width: 100%
}
.Submit{
    width: 17.5%; 
    position: absolute; 
    margin-left: 43%;
}
.Back{
    width: 17%; 
    position:absolute; 
    margin-left: 13.5%;
}