*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    color: white;
}

.home{
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(4,9,30,0.7),
   rgba(4,9,30,0.7)),url(images/BG.jpg);  
   background-position: center;
   background-size: cover;
   position: relative;

}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
   font-size: 42px;
}

.text-box h2{
    margin: 10px 0 40px;
    font-size: 30px;
 }


/*-----navbar----*/
nav{
    background-color: #000000;
}

nav:after{
    content: '';
    clear: both;
    display:table;
}

nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 40px;
    
}

nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}


nav ul li{
    display: inline-block;
    background: #000000;
    margin: 0px 5px;
    
}

nav ul li a{
    color:white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    
}

nav ul li a:hover{
    color: red;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0000,
                0 0 5px #ff0000;
}


nav ul ul{
    position:absolute;
    top: 90px;
    border-top: 3px solid red;
    opacity: 0;
    visibility:hidden;
    transition: top 0.3s;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
   position: relative;
   margin: 0px;
   width: 150px;
   float:none;
   display: list-item;
   border-bottom: 1px solid rgba(0, 0, 0, 0);
}

nav ul ul li a{
    line-height: 50px;
}

nav ul ul li a:hover{
    color: red;
    box-shadow: none;
}

.show,.icon, input{
    display: none;
}
 /*-----About-----*/
 .about{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80vh;
    margin: auto;
    text-align: center;
    padding-top: 200px;
}

.about h1{
    color: #000000;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
}

.about p1{
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/*---contact us---*/
.contact{
    background-color: rgb(206, 14, 14);
    width: 100%;
    height: 50vh;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.contact h1{
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
}

.contact h2{
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

@media all and (max-width: 968px){
     nav ul{
         margin-right: 0px;
         float: left;
     }

     nav .logo{
         padding-left: 30px;
         width: 100%;
     }
     nav ul li{
         display: block;
         width: 100%;
         
     }
     nav ul ul li{
        display: block;
        width: 100%;
        bottom: 0px;;
    }
    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
       
    }
    nav ul li a:hover{
        box-shadow: none;
    }
    .show:hover{
        color: red;
    }
    
    .icon{
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    .show + a, ul{
        display: none;
    }
     [id^=btn]:checked + ul{
         display: block;
     }

     .text-box{
        display: none;
    }
    
    .text-box h1{
       font-size: 42px;
       color: #ffffff;
    }
    
    .text-box h2{
        margin: 10px 0 40px;
        font-size: 22px;
        color: #ffffff;
     }
    
}


/*---authentication---*/

*{
    padding: 0;
    margin: 0;
}

body.authentication{
    background: url(images/login_bg.jpg);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    text-align: center;
}

.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #000000;
    border-radius: 5px;
    margin-bottom: 150px;
}

.label{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: #FFFAF0;

}

.login_form{
    padding: 20px 40px;
}

.login_form .login_font{
    font-size: 18px;
    color: #FFFAF0;
    margin: 5px 0;
}

.login_form input{
    color: #000000;
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
    display: block;
}

.login_form .login_font2 {
    margin-top: 30px;
}

.login_form button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 30%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
    border: 2px #000000;
    border-radius: 5px;
    transition: 0.5s;
}

.login_form button:hover{
    background: #FFD700;
    color: #000000;
}

.login_form #university_error,
.login_form #name_error,
.login_form #email_error,
.login_form #password_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #C62828;
    background: rgba(255,0,0,0.1);
    padding: 5px 8px;
    text-align: center;
    display: none;

}

.authentication_redirect {
    color: #ffffff;
    margin-top: 20px;
}



footer {
    position: fixed;
    text-align: center;
    padding: 25px;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    height: 10%;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

@media (max-height: 750px) {

    .label{
        padding: 10px 70px;
        font-size: 25px;
    }

    .login_form{
        padding: 5px 20px;
    }

    .login_form .form_input{
        width: 100%;
    }
    
    .login_form .login_font{
        font-size: 12px;
        margin: 2px 0;
    }
    
    .login_form input{
        height: 20px;
        width: 200px;
        padding: 0 5px;
        font-size: 12px;
    }
    
    .login_form .login_font2 {
        margin-top: 30px;
    }
    
    .login_form button{
        margin: 45px 0 30px 0;
        height: 30px;
        width: 30%;
        font-size: 12px;
    }



}



  







  



